<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--    Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    Page Title-->
    <title>about</title>

    <!--    Favourites Icon-->
    <link href="../static/img/favourites-icon.png" th:href="@{/img/favourites-icon.png}" rel="icon">

    <!--    CSS Files-->
    <link href="../static/css/animate-3.7.0.css" th:href="@{/css/animate-3.7.0.css}" rel="stylesheet">
    <link href="/webjars/font-awesome/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">
    <link href="../static/css/bootstrap-4.1.3.min.css" th:href="@{/css/bootstrap-4.1.3.min.css}" rel="stylesheet">
    <link href="../static/css/owl-carousel.min.css" th:href="@{/css/owl-carousel.min.css}" rel="stylesheet">
    <link href="../static/css/jquery.datetimepicker.min.css" th:href="@{/css/jquery.datetimepicker.min.css}"
          rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">


</head>
<body>
<!--Preloader Start-->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!--Preloader End-->

<!--Header Area Start-->
<header class="header-area header-area2">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="index.html" th:href="@{index}"><img src="../static/img/logo2.png"
                                                                 th:src="@{/img/logo2.png}" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu main-menu2">
                    <ul>
                        <li class="active">
                            <a href="index.html" th:href="@{index}">
                                home
                            </a>
                        </li>
                        <li>
                            <a href="about.html" th:href="@{about}">
                                about
                            </a>
                        </li>
                        <li>
                            <a href="beers.html" th:href="@{beers}">
                                beers
                            </a>
                        </li>
                        <li sec:authorize="anonymous">
                            <a href="login.html" th:href="@{login}">
                                Login
                            </a>
                        </li>
                        <li sec:authorize="anonymous">
                            <a href="register.html" th:href="@{register}">
                                Register
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
                            <a href="profile.html" th:href="@{profile}">
                                <span sec:authentication="name"/>(profile)
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
                            <a href="#">
                                user operations
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="registerbeer.html" th:href="@{registerbeer}">
                                        Add new beer
                                    </a>
                                </li>
                                <li>
                                    <a href="beers.html" th:href="@{beers}">
                                        Edit/delete existing beer
                                    </a>
                                </li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                            <a href="#">
                                Admin Operations
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="createAdmin.html" th:href="@{createAdmin}">
                                        Add new admin
                                    </a>
                                </li>
                                <li>
                                    <a href="createUser.html" th:href="@{createUser}">
                                        Add new user
                                    </a>
                                </li>
                                <li>
                                    <a href="viewAllUsers.html" th:href="@{viewAllUsers}">
                                        Edit or delete user/admin
                                    </a>
                                </li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header Area End-->

<!-- Banner Area Start -->
<section class="banner-area banner-area2 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i>About Us</i></h1>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

<!-- Welcome Area Starts -->
<section class="welcome-area section-padding2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="welcome-img">
                    <img src="../static/img/welcome-bg.png" th:src="@{/img/welcome-bg.png}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="welcome-text mt-5 mt-md-0">
                    <h3>People behind<span class="style-change"><br/>Beer Tag Web Application</span> <br></h3>
                    <p class="pt-3">
                    <h5>Telerik Alpha Academy<br>Team 08</h5>
                    <br/>
                    <ul>
                        <li><b>Viktoria Georgieva</b></li>
                        <li>vikiiism@mail.bg</li>
                        <br/>
                        <li><b>Ivan Simeonov</b></li>
                        <li>ivsmile96@gmail.com</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->


<!-- Footer Area Starts -->
<footer class="footer-area">

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                        <span>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>
                                document.write(new Date().getFullYear());

                            </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                          aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


<!--JavaScript-->
<script src="../static/js/vendor/jquery-2.2.4.min.js" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script src="../static/js/vendor/bootstrap-4.1.3.min.js" th:src="@{/js/vendor/bootstrap-4.1.3.min.js}"></script>
<script src="../static/js/vendor/wow.min.js" th:src="@{/js/vendor/wow.min.js}"></script>
<script src="../static/js/vendor/owl-carousel.min.js" th:src="@{/js/vendor/owl-carousel.min.js}"></script>
<script src="../static/js/vendor/jquery.datetimepicker.full.min.js"
        th:src="@{/js/vendor/jquery.datetimepicker.full.min.js}"></script>
<script src="../static/js/vendor/jquery.nice-select.min.js" th:src="@{/js/vendor/jquery.nice-select.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>