<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--    Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    Page Title-->
    <title>beers</title>

    <!--    Favourites Icon-->
    <link href="../static/img/favourites-icon.png" th:href="@{/img/favourites-icon.png}" rel="icon">

    <!--    CSS Files-->
    <link href="../static/css/animate-3.7.0.css" th:href="@{/css/animate-3.7.0.css}" rel="stylesheet">
    <link href="/webjars/font-awesome/css/font-awesome.min.css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">
    <link href="../static/css/bootstrap-4.1.3.min.css" th:href="@{/css/bootstrap-4.1.3.min.css}" rel="stylesheet">
    <link href="../static/css/owl-carousel.min.css" th:href="@{/css/owl-carousel.min.css}" rel="stylesheet">
    <link href="../static/css/jquery.datetimepicker.min.css" th:href="@{/css/jquery.datetimepicker.min.css}"
          rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<!-- Preloader Start -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->

<!-- Header Area Start -->
<header class="header-area header-area2">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="index.html" th:href="@{index}"><img src="../static/img/logo2.png" th:src="@{/img/logo2.png}" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu main-menu2">
                    <ul>
                        <li class="active">
                            <a href="index.html" th:href="@{index}">
                                home
                            </a>
                        </li>
                        <li>
                            <a href="about.html" th:href="@{about}">
                                about
                            </a>
                        </li>
                        <li>
                            <a href="beers.html" th:href="@{beers}">
                                beers
                            </a>
                        </li>
                        <li sec:authorize="anonymous">
                            <a href="login.html" th:href="@{login}">
                                Login
                            </a>
                        </li>
                        <li sec:authorize="anonymous">
                            <a href="register.html" th:href="@{register}">
                                Register
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
                            <a href="profile.html" th:href="@{profile}">
                                <span sec:authentication="name"/>(profile)
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
                            <a href="#">
                                user operations
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="registerbeer.html" th:href="@{registerbeer}">
                                        Add new beer
                                    </a>
                                </li>
                                <li>
                                    <a href="beers.html" th:href="@{beers}">
                                        Edit/delete existing beer
                                    </a>
                                </li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                            <a href="#">
                                Admin Operations
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="createAdmin.html" th:href="@{createAdmin}">
                                        Add new admin
                                    </a>
                                </li>
                                <li>
                                    <a href="createUser.html" th:href="@{createUser}">
                                        Add new user
                                    </a>
                                </li>
                                <li>
                                    <a href="viewAllUsers.html" th:href="@{viewAllUsers}">
                                        Edit or delete user/admin
                                    </a>
                                </li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Banner Area Start -->
<section class="banner-area banner-area2 menu-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i>Our Beers</i><br /></h1>
                <p class="pt-2"><i sec:authorize="anonymous">Every user can add new or edit existing beer.<br />
                    Help us develop our app, register <a href="register.html" th:href="@{register}">here</a></i></p>
                <p class="pt-2"><i sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">Now you can add new or edit existing beer.<br />
                    Help us develop our app, create beer <a href="registerbeer.html" th:href="@{registerbeer}">here</a></i></p>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

<!-- Beers Area Start -->
<section class="food-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-top">
                    <h3><span class="style-change">Our beers</span> <br></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-food">
                    <div class="food-img">
                        <img src="../static/img/food2.jpg" th:src="@{/img/food2.jpg}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Mexican Eggrolls</h5>
                            <span class="style-change">$14.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-sm-0">
                    <div class="food-img">
                        <img src="../static/img/food2.jpg" th:src="@{/img/food2.jpg}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>chicken burger</h5>
                            <span class="style-change">$9.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-md-0">
                    <div class="food-img">
                        <img src="../static/img/food2.jpg" th:src="@{/img/food2.jpg}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>topu lasange</h5>
                            <span class="style-change">$12.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="../static/img/food2.jpg" th:src="@{/img/food2.jpg}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>pepper potatoas</h5>
                            <span class="style-change">$14.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="../static/img/food2.jpg" th:src="@{/img/food2.jpg}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>bean salad</h5>
                            <span class="style-change">$8.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="../static/img/food2.jpg" th:src="@{/img/food2.jpg}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>beatball hoagie</h5>
                            <span class="style-change">$11.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <nav class="blog-pagination justify-content-center d-flex">
                <ul class="pagination">
                    <li class="page-item active"><a href="#" class="page-link">01</a></li>
                    <li class="page-item"><a href="#" class="page-link">02</a></li>
                    <li class="page-item"><a href="#" class="page-link">03</a></li>
                    <li class="page-item"><a href="#" class="page-link">04</a></li>
                    <li class="page-item"><a href="#" class="page-link">05</a></li>
                    <li class="page-item"><a href="#" class="page-link">06</a></li>
                    <li class="page-item"><a href="#" class="page-link">07</a></li>
                    <li class="page-item"><a href="#" class="page-link">08</a></li>
                    <li class="page-item"><a href="#" class="page-link">09</a></li>
                    <li class="page-item"><a href="#" class="page-link">10</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- Beers Area End -->

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
                                    class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                        target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!--JavaScript-->
<script src="../static/js/vendor/jquery-2.2.4.min.js" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script src="../static/js/vendor/bootstrap-4.1.3.min.js" th:src="@{/js/vendor/bootstrap-4.1.3.min.js}"></script>
<script src="../static/js/vendor/wow.min.js" th:src="@{/js/vendor/wow.min.js}"></script>
<script src="../static/js/vendor/owl-carousel.min.js" th:src="@{/js/vendor/owl-carousel.min.js}"></script>
<script src="../static/js/vendor/jquery.datetimepicker.full.min.js"
        th:src="@{/js/vendor/jquery.datetimepicker.full.min.js}"></script>
<script src="../static/js/vendor/jquery.nice-select.min.js" th:src="@{/js/vendor/jquery.nice-select.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>


</body>
</html>