<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--    Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    Page Title-->
    <title>view-users</title>

    <!--    Favourites Icon-->
    <link href="../static/img/favourites-icon.png" th:href="@{/img/favourites-icon.png}" rel="icon">

    <!--    CSS Files-->
    <link href="../static/css/animate-3.7.0.css" th:href="@{/css/animate-3.7.0.css}" rel="stylesheet">
    <link href="/webjars/font-awesome/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">
    <link href="../static/css/bootstrap-4.1.3.min.css" th:href="@{/css/bootstrap-4.1.3.min.css}" rel="stylesheet">
    <link href="../static/css/owl-carousel.min.css" th:href="@{/css/owl-carousel.min.css}" rel="stylesheet">
    <link href="../static/css/jquery.datetimepicker.min.css" th:href="@{/css/jquery.datetimepicker.min.css}"
          rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<!-- Preloader Start -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->

<!-- Header Area Start -->
<header class="header-area header-area2">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="index.html" th:href="@{index}"><img src="../static/img/logo2.png"
                                                                 th:src="@{/img/logo2.png}" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu main-menu2">
                    <ul>
                        <li class="active">
                            <a href="index.html" th:href="@{index}">
                                home
                            </a>
                        </li>
                        <li>
                            <a href="about.html" th:href="@{about}">
                                about
                            </a>
                        </li>
                        <li>
                            <a href="beers.html" th:href="@{beers}">
                                beers
                            </a>
                        </li>
                        <li sec:authorize="anonymous">
                            <a href="login.html" th:href="@{login}">
                                Login
                            </a>
                        </li>
                        <li sec:authorize="anonymous">
                            <a href="register.html" th:href="@{register}">
                                Register
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
                            <a href="profile.html" th:href="@{profile}">
                                <span sec:authentication="name"/>(profile)
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
                            <a href="#">
                                user operations
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="registerbeer.html" th:href="@{registerbeer}">
                                        Add new beer
                                    </a>
                                </li>
                                <li>
                                    <a href="beers.html" th:href="@{beers}">
                                        Edit/delete existing beer
                                    </a>
                                </li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                            <a href="#">
                                Admin Operations
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="createAdmin.html" th:href="@{createAdmin}">
                                        Add new admin
                                    </a>
                                </li>
                                <li>
                                    <a href="createUser.html" th:href="@{createUser}">
                                        Add new user
                                    </a>
                                </li>
                                <li>
                                    <a href="viewAllUsers.html" th:href="@{viewAllUsers}">
                                        Edit or delete user/admin
                                    </a>
                                </li>
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Logout"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Banner Area Start -->
<section class="banner-area banner-area2 menu-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i>All registered users</i><br/></h1>
                <p class="pt-2"><i sec:authorize="hasAnyRole('ROLE_ADMIN')">Create new users <a href="createUser.html" th:href="@{createUser}">here</a></i></p>
                <p class="pt-2"><i sec:authorize="hasAnyRole('ROLE_ADMIN')">Create new admins <a href="createAdmin.html" th:href="@{createAdmin}">here</a></i>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

<!-- Beers Area Start -->
<section class="food-area section-padding">
    <div align="center" class="container">
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Authority</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.firstName}">First name</td>
                <td th:text="${user.lastName}">Last name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.getRole().authority}">Authority</td>

                <td>
                    <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</section>

<!--<div align="center">-->
<!--    <h1>List of all users</h1>-->
<!--    <a href="createUser.html" th:href="@{createUser}">Create new user</a>-->
<!--    &nbsp;&nbsp;&nbsp;-->
<!--    <a href="createAdmin.html" th:href="@{createAdmin}">Create new admin</a>-->
<!--    &nbsp;&nbsp;&nbsp;-->
<!--    <a href="index.html" th:href="@{index}">Homepage</a>-->

<!--    <br/><br/>-->
<!--    <table border="1" cellpadding="10">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>User ID</th>-->
<!--            <th>Username</th>-->
<!--            <th>First name</th>-->
<!--            <th>Last name</th>-->
<!--            <th>Email</th>-->
<!--            <th>Authority</th>-->
<!--            <th>Action</th>-->

<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="user : ${listUsers}">-->
<!--            <td th:text="${user.id}">User ID</td>-->
<!--            <td th:text="${user.username}">Username</td>-->
<!--            <td th:text="${user.firstName}">First name</td>-->
<!--            <td th:text="${user.lastName}">Last name</td>-->
<!--            <td th:text="${user.email}">Email</td>-->
<!--            <td th:text="${user.getRole().authority}">Authority</td>-->

<!--            <td>-->
<!--                <a th:href="@{'/edit/' + ${user.id}}">Edit</a>-->
<!--                &nbsp;&nbsp;&nbsp;-->
<!--                <a th:href="@{'/delete/' + ${user.id}}">Delete</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<!--JavaScript-->
<script src="../static/js/vendor/jquery-2.2.4.min.js" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script src="../static/js/vendor/bootstrap-4.1.3.min.js" th:src="@{/js/vendor/bootstrap-4.1.3.min.js}"></script>
<script src="../static/js/vendor/wow.min.js" th:src="@{/js/vendor/wow.min.js}"></script>
<script src="../static/js/vendor/owl-carousel.min.js" th:src="@{/js/vendor/owl-carousel.min.js}"></script>
<script src="../static/js/vendor/jquery.datetimepicker.full.min.js"
        th:src="@{/js/vendor/jquery.datetimepicker.full.min.js}"></script>
<script src="../static/js/vendor/jquery.nice-select.min.js" th:src="@{/js/vendor/jquery.nice-select.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>